<?xml version="1.0" encoding="UTF-8"?>

<!-- ============================================================= -->
<!--                                                               -->
<!--  Log4j Configuration for heating monitor                      -->
<!--                                                               -->
<!-- ============================================================= -->

<Configuration>
  <!-- ================================= -->
  <!-- Preserve messages in a local file -->
  <!-- ================================= -->

  <!-- A time/date based rolling appender -->
  <Appenders>
    <RollingFile name="FILE" fileName="${user.home}/logs/hmon.log"
                 filePattern="logs/hmon-%d{yyyy-MM-dd}.log">
      <PatternLayout>
        <Pattern>%d %-5p [%c] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="${user.home}/logs" maxDepth="2">
          <IfLastModified age="5d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>

    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <!-- ================ -->
    <!-- Limit categories -->
    <!-- ================ -->

    <!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
    <Logger name="org.apache" level="info"/>

    <Logger name="httpclient.wire.content" level="info"/>

    <!-- ical4j is noisy -->
    <Logger name="net.fortuna.ical4j" level="info"/>

    <!-- caching is noisy too -->
    <Logger name="net.sf.ehcache" level="info"/>

    <!-- Set our categories -->
    <Logger name="org.douglm" level="debug"/>
    <Logger name="org.douglm.heatingMonitor" level="debug"/>
    <Logger name="org.douglm.piSpi" level="info"/>

    <Root level ="debug" >
      <AppenderRef ref="FILE"/>
      <AppenderRef ref="CONSOLE"/>
    </Root>
  </Loggers>
</Configuration>
