<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns = "https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation = "https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version = "5.0"
         metadata-complete = "false">
  <display-name>Bedework event registration web service</display-name>
<!--
  <listener>
    <listener-class>org.bedework.eventreg.ws.ContextListener</listener-class>
  </listener>
  -->

  <!-- Context params here -->

  <!-- filter here -->

  <!-- filter mapping here -->

  <servlet>
    <servlet-name>eventregws</servlet-name>
    <servlet-class>org.bedework.eventreg.ws.EvregwsServlet</servlet-class>

    <init-param>
      <!-- Only applies if debug on - causes responses to be wrapped. -->
      <param-name>dumpContent</param-name>
      <param-value>true</param-value>
    </init-param>

    <init-param>
      <param-name>useAppInfo</param-name>
      <param-value>true</param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>eventregws</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- JDBC DataSources (java:comp/env/jdbc) -->
  <resource-ref>
    <description>The event reg DS</description>
    <res-ref-name>jdbc/EventregDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <resource-ref>
    <description>The self reg DS</description>
    <res-ref-name>jdbc/selfregDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <!-- JMS DataSources (java:comp/env/jms) -->
  <resource-ref>
    <res-ref-name>jms/BedeworkConnectionFactory</res-ref-name>
    <res-type>javax.jms.ConnectionFactory</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <!-- security constraints will be inserted here -->

</web-app>
